body {
    font-family: Arial, sans-serif;
    background-color: white;
}

.container {
    width: 1000px;
    padding-left: 10px;
    padding-bottom: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section-encrypt, .section-decrypt {
    width: 800px;
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    margin: 20px 0 0 20px;
}

h1 {
    margin-left: 10px;
    padding-top: 20px;
}

h2 {
    margin-bottom: 10px;
    text-align: center;
}

textarea {
    width: 500px;
    padding: 10px;
    margin-left: 10px;
    resize: vertical;
    font-size: 16px;
}

textarea:focus, input:focus {
    outline: none;
    border-color: #acacac;
    box-shadow: 0 0 5px rgba(94, 94, 94, 0.3);
}

button {
    width: 170px;
    height: 40px;
    padding: 10px;
    margin-left: 10px;
    background-color: #acacac;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 15px;
}

button:hover {
    background-color: #ffffff;
    border: 1px solid black;
}

p {
    margin-left: 10px;
    color: #666;
    font-size: 14px;
}

h4 {
    margin-bottom: 5px; 
    margin-left: 10px;
}

.output {
    padding: 5px;
    margin-left: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 5px; 
}

.key-section {
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 5px; 
}

.key-value {
    font-size: 14px;
}
